@using TravelTripProje.Models.Siniflar
@model List<Blog>
<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <a href="/Blog/BlogDetay/@x.ID">
                    <img src="@x.BlogImage" alt="" />
                </a>
            </div>
            <div class="bot-desc1">
                <a href="/Blog/BlogDetay/@x.ID" style="color:#a2365a; font-weight:bold; display:block; margin-bottom:5px;">@x.Baslik</a>
                <p>@x.Aciklama.Substring(0, 150)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("Partial5", "Default")
</div>